version: 2
updates:
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: daily
    time: "02:00"
  open-pull-requests-limit: 10
  ignore:
    - dependency-name: "reflect-metadata"
      update-types: ["version-update:semver-major", "version-update:semver-minor"]
