language: node_js
notifications:
  email: false
node_js:
  - "12"
deploy:
  skip_cleanup: true
  on:
    repo: iamolegga/nestjs-pino
    branch: master
  provider: npm
  email: iamolegga@gmail.com
  api_key:
    secure: RQG8dyGDr8RNbeuOGmL/0sLvZro3+4DS4rR3UPbToRpU01oFyuFjoQJzikPsUyJU1Cf8u3+RF13bXnAy+McjUa0JLHL9WGd/8FMgVW9vPfgIZTtbYJiVWgwTswQ90k7uweQGzgmmxQ/7iPRUl/0Db/diN74jOWZ0lYRar+sGkcGqd1fqw0Nl9YqM4UgGadcBRZw20DLnzABpMkJ3n3+yFfRXLlqrA+HxYvuTKqwSppVR+19RcIJArAyTGmyVWor4dKZlQD0nvq0jBhhiMlGq8cJ+PTiWxGmhiARaBYfCSZNDsxrkFYFR4agtczemsFpxgNvA1eOLonDUBRa8ibZYsUFKsqVmEm9MAGs5eL6c2lTlW3o8VTysO2VniLy2I+xSTOPZQEGTIwA9kMiUxMeySzMDiuv8CYe6AGJjr3QkMukR6882j3DZiz21GzhMCC5KFaCl2twuNKMpaTUNygjMUbQWVNNK4axTrVDW4Zm1xh26RpJQ8Zv47E+vkhzltualWlo7NYO/0Z+cHDQ9XG5qZDRj8Y8iNJk4vBfeJCQVJehBHAzPQ2ZoSNnRFAKiSYyEmluZ/X/zn6dyrA08O4NR+rWDMiWFSoXcLFNNqU+aP8MNwms4zGqsdvpWFr7b+nkctz8zB436QEIu3UpBerp9rZqXi0nbRsBYRldPXBF500g=
script:
  - npm run build
  - npm run test
after_deploy:
  - npm run report
branches:
  except:
    - "/^v\\d+\\.\\d+\\.\\d+$/"
