name: publish-coverage

on:
  workflow_call:

jobs:
  publish-coverage:
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v6.0.0
        with:
          fetch-depth: 0

      - uses: actions/cache@v4.3.0
        with:
          path: coverage
          # restore cache from build-lint-test wf with key=sha-(oneof nestjs version)-(oneof nodejs version)
          key: ${{ github.sha }}-11-22

      - uses: qltysh/qlty-action/coverage@v2.2.0
        with:
            token: ${{ secrets.QLTY_COVERAGE_TOKEN }}
            files: ${{github.workspace}}/coverage/lcov.info
